* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  /* padding: 10px; */
  margin: 5px 10px ;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}


label {
  margin-top: 10px;
}

.container {
  padding: 15px;
}

.inputs {
  width: 100%;
}

label {
  font-size: small;
}

h1 {
  color: yellow;
}

.result {
  margin-top: 20px;
  color: red;
  font-size: 1.5rem;
}

.input {
  font-size: 10px;
}
